<div class="container">
    <div>
        <h2>Modify a song:</h2>
    </div>
    <form>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <label>Song ID</label>
            <input readonly type="text" [(ngModel)]="currentSong.idSong" name="idSong" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Songname</label>
            <input type="text" [(ngModel)]="currentSong.nomSong" name="nomSong" class="form-control">
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <label>Song duration</label>
            <input type="number" [(ngModel)]="currentSong.timeSong" name="timeSong" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>creation date</label>
            <input type="date" [ngModel]="currentSong.dateCreation | date: 'yyyy-MM-dd'"
                (ngModelChange)=" currentSong.dateCreation= $event" name="dateCreation" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Album</label>
            <select class="form-control form-control-lg" id="idAlb" name="idAlb" [(ngModel)]="updatedAlbId">
                <option *ngFor="let alb of albums" [value]="alb.idAlb">
                    {{alb.nomAlb}}
                </option>
            </select>
        </div>

        <div class="col-sm-16 col-md-16 col-lg-16">
            <label class="mb-2">Picture :</label>
            <input type="file" (change)="onImageUpload($event)" class="form-control">
        </div>

        <div class="mt-2">
            <button type="submit" (click)="onAddImageSong()" class="btn btn-success">Add Picture</button>
        </div>

        <div class="col-sm-16 col-md-16 col-lg-16">
            <img [src]="myImage" class="card-img-top img-fluid rounded-start"
            style="width: 500px; height: 300px" />
        </div>

        <div class="card shadow mb-4">
            <div class="card-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Pictures</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let img of currentSong.images">
                        <tr>
                            <td>
                                <img class="card-img-top img-responsive" src="{{'data:' + img.type + ';base64,' + img.image}}" style="height :50px;width:100px">
                            </td>
                            <td style="width:20%" >
                                <a class="btn btn-danger" (click)="supprimerImage(img)">Delete</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="mt-2">
            <button type="submit" (click)="updateSong()" class="btn btn-success">Modify</button>
        </div>
    </form>
</div>